data/web_clips/clip_eebc9a96-9e34-45d7-9d40-1792f91a2fa8.mp4 filter=lfs diff=lfs merge=lfs -text
data/web_clips/clip_ee243269-4d1e-4519-9123-d57466c4024b.mp4 filter=lfs diff=lfs merge=lfs -text
data/web_clips/clip_0c596c73-8708-4177-92d0-6bfcbb481785.mp4 filter=lfs diff=lfs merge=lfs -text
data/web_clips/clip_248c03d0-870b-414b-bdc9-348891583606.mp4 filter=lfs diff=lfs merge=lfs -text
data/web_clips/clip_62f7f674-716b-42d6-82b7-cddb8b1652f1.mp4 filter=lfs diff=lfs merge=lfs -text
data/web_clips/clip_ebf572f6-9e85-4861-a2fb-8ef08005b7f7.mp4 filter=lfs diff=lfs merge=lfs -text
